<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width" />
		<title>Lista de Serviços</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
   			<h1>Lista de Serviços</h1>
	   	</div>
	   		<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Serviço</th>
							<th>Valor</th>
							<th align="center">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="servico : ${servicos}">
							<td th:text="${servico.ds_servico}"></td>
							<td th:text="${servico.valor}"></td>
							<td>
                                <div class="btn-group pull-center">
                                    <a class="btn btn-sm btn-primary" th:href="@{/servicos/edit/{id}(id=${servico.id})}" >Editar</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/servicos/delete/{id}(id=${servico.id})}">Excluir</a>
                               </div>
                            </td>
						</tr>
					</tbody>
				</table>
		</div>
		 <div class="panel-footer">
            <a class="btn btn-sm btn-success" th:href="@{/servicos/add/}" >Adicionar</a>
        </div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>